<!-- The Mutual Aid LA Dispatch #19 (November) -->
<p style="text-align: center;"><strong>NOVEMBER 2023</strong></p>
<br>

<h3 style="text-align:center"><strong>Haga <a href="https://dispatch.mutualaidla.org/archive/18-octubre/">clic aquí</a> para ver El Despacho de octubre en español.<br><a href="https://dispatch.mutualaidla.org/archive/18-octubre/">Click here</a> to view The October Dispatch in Spanish.</strong></h3>
<br>

## A FEW WORDS ON: **Feelings of Duality in Mutual Aid**

“What would our world look like if we all had equal access to food?”

I always find myself asking this question as I engage in food-related mutual aid work. There are so many amazing care networks that our local community has created to help ensure each other’s survival as we all continue to see the violent impacts of capitalism and how food insecurity, as a byproduct of capitalism, has decimated communities.  But for all the joy and hope I feel every time I see a community fridge and see people volunteering to provide food for each other, I can’t help but be reminded of why we must engage in this work. It is because our basic needs are not only not being met, but the resources needed to meet them are being gatekept from us for profit.  There are financial barriers to simply having access to water; big box stores are putting every essential item behind lock and key; healthy organic foods are more expensive; the list goes on and on.

On one hand, it can feel disheartening and hopeless to live this reality and to see that the only ways we’re able to truly meet our community’s needs are to ditch the systems we’ve been told to rely on and instead find care amongst each other.  But the more I witness the beauty of community care, the more I believe that this is truly the only way we will collectively survive whatever is to come.  It is liberating to build something outside of the government, the city, and the nonprofit industrial complex in which collective wellbeing is the first priority. We are building a world/city/network where we are thinking about what we can give to each other, rather than what we can take or what will be taken from us. Seeing this in action somehow turns my hopelessness into hope.


*Written by Kira Morrison who organizes with [Farm2Power](https://www.farm2power.org/) and [LACF](https://www.instagram.com/lacommunityfridges/)*

---

## FEATURED EFFORT: **Home-y Made Meals**

In the summer of 2020, my partner Sarah came across an IG post calling for 1) cooks, people who might be interested in making meals from the comfort of their homes and 2) drivers, the out-and-about, errand-types who would pick up meals from said homes and shuttle them to people who need them. These asks were clear, feasible and felt considerate of people’s various COVID safety needs. A handful of people from the group were pictured together in the first slide of the post, big smiles obvious behind their masks, emanating a palpable joy we hadn’t seen in awhile. Shortly after signing up, we found ourselves loading 20 meals into the car of a new Home-y, and stepping into a life-changing community.

![Homey_CombinedImages2_01.jpg](https://assets.buttondown.email/images/347523b1-f72e-4335-bb0c-80791d96c5c3.jpg?w=960&fit=max) 

Three and half years in, Home-y Made Meals has served over 125,000 free meals to people in Los Angeles and Orange County. It’s a 100% people-powered, pass-the-baton-style initiative in which volunteers from all around Southern California prepare, deliver, and serve homemade meals every day. These meals go to coalitions and mutual aid groups, several of which have been featured right here in The Dispatch, responding to an ever-growing unhoused population and food insecurity crisis that has only been exacerbated by the pandemic and neglected by city officials.

What makes Home-y Made Meals unique are the people who started it. The project is a collaboration between [Eayikes](https://eayikes.org/), an organization which centers around community, empowerment and connecting with one another, and [Polo’s Pantry](https://www.polospantry.org/), which focuses on food justice and food sovereignty. The product is a combination of each group’s core purpose: to feed people and to cultivate joy and connection in this often devastating work. After meeting any of the Home-y organizers or attending any event they host, you quickly understand how much love and fun truly guides this operation. Furthermore, they see this work as highly political, and they’ve never strayed away from naming the systemic conditions that have led to food insecurity.

![Homey_CombinedImages2_02.jpg](https://assets.buttondown.email/images/311c00ce-be23-41dd-9b3c-ec20e64b05e4.jpg?w=960&fit=max) 

When I talk to people about Home-y, I always reiterate how easy it is to take part. If you go the chef route, you’ll receive an email two weeks ahead of time asking if you can make x-amount of meals (anywhere from 10-30) to be picked up on a specific date and time. You have plenty of time to meal plan, buy supplies and prepare the bags. You get a text from a real person confirming pick-up time and without fail, that real person appears at your home, loads the meals in their car and your leg of the race is complete. 

If you’re concerned about the cost of supplies, you can schedule a time to shop at Home-y’s free pantry beforehand, making the operation more accessible and sustainable for everyone. Your meals can be as complex (see [My Nanay’s Kitchen](https://www.instagram.com/my.nanays.kitchen/?hl=en)) or as simple (I stick to PB&J’s) as you want. Between shopping and cooking, my process is usually less than two hours. If you are a driver, a Home-y coordinator sends you all the details you need to successfully complete 2-4 pickups from chefs (living within reasonable distance from you and one another) and the final drop-off of the meals. They do all the coordinating for you, and that’s a dream as a volunteer.

For me, Home-y was a gateway to understanding and getting involved in the practice of mutual aid as a whole. The ease of their process was one thing, but then I met Alex Yoon, one of the originators, in person. After an engaging and honest conversation (most are with Alex), he invited me to a distribution they helped make happen at [LACAN](https://cangress.org/) in Skid Row. This led to meeting Melissa Acedera of Polo’s Pantry (be sure to read the September Dispatch Feature), and the rest of the core Home-y team: Jenny, Sonia, Angela, Jackie, and Lance. Their energy kept me coming back and wanting to do more and more. The world was on fire in so many ways, and it still is. But these people were and are fighting for a world they want to see with actual, radical joy. That’s the only way mutual aid work can be sustainable. 

![Homey_CombinedImages2_03.jpg](https://assets.buttondown.email/images/292fcec6-563e-4689-8144-c1c585f8ce31.jpg?w=960&fit=max) 
### How **YOU** can contribute…

1. Be a Home-y and [sign-up](https://docs.google.com/forms/d/e/1FAIpQLScDSxTXAtKayWKWComk04vfV70YqDqkQ8hO0bA8gSquR_IA3w/viewform) to **MAKE MEALS** or **PICK-UP & DELIVER MEALS**. Get some meal inspo by clicking through the ‘Meal Prep’ IG [story highlights](https://www.instagram.com/stories/highlights/17955519988424935/).
2. **FOLLOW** Home-y [Made Meals](https://www.instagram.com/homeymademeals/) (@homeymademeals) and the two mastermind groups [Eayikes](https://www.instagram.com/eayikes/) (@eayikes) and [Polo’s Pantry](https://www.instagram.com/polospantryla/) (@polospantry) on IG and **SPREAD THE WORD** to your own circles to keep this project sustained and thriving.
3. **GET TO KNOW** [the project](https://www.homeymademeals.com/how-it-works) better by reading this impressive 2022 [impact report](https://www.homeymademeals.com/impact).
4. **GIVE MONEY** via [GiveButter](https://givebutter.com/homeymademeals) to help power meals. $6 = 1 meal. 

*Written by Will Lennon who organizes with [MALAN](https://mutualaidla.org/)*

---

## DO YOU HAVE **<span style="background-color: tomato">TIME</span>**, **<span style="background-color: gold">ITEMS\*</span>**, OR **<span style="background-color: palegreen">MONEY</span>** TO CONTRIBUTE?<br />DO YOU NEED **<span style="background-color: gold">ITEMS</span>**, **<span style="background-color: cornflowerblue">SERVICES</span>**, OR **<span style="background-color: tan">FOOD</span>?**

\*[PLEASE clean, sort & fold all items you are donating](https://drive.google.com/file/d/1K0eaOL9-gWzFX10reiZlbMsRvBWvATbJ/view). Items should be new or gently used. Socks, underwear and hygiene items should always be unused.

**WHO:** [Farm2Power](https://linktr.ee/farm2power?utm_source=MutualAidLA&utm_medium=email&utm_campaign=the-mutual-aid-la-dispatch-12-march)  
**YOU HAVE:** **<span style="background-color: tomato">TIME</span>** **<span style="background-color: palegreen">MONEY</span>**  
**YOU NEED:** **<span style="background-color: tan">FOOD</span>**   
Farm2Power is a mutual aid organization that utilizes funds to support community farms, uplift BIPOC farmers, and provide fresh produce to community members in Los Angeles who are in need of food support. We pay BIPOC farmers directly by purchasing produce boxes for distribution (1 box = $25). We are currently seeking new volunteer drivers (1 Sunday per month, delivering produce boxes) as well as core team members (1-4 hours per week, planning for pantries and events).  
**WHEN:** Pantries are once a month, usually on the last Sunday during the morning/early afternoon. Meetings for team members are every Monday night.  
**WHERE:** Koreatown and Compton ←volunteer driver produce pick-up spots  
**$:** [Venmo @farm2power](https://account.venmo.com/u/farm2power?utm_source=MutualAidLA&utm_medium=email&utm_campaign=the-mutual-aid-la-dispatch-12-march) or [Givebutter](https://givebutter.com/f2p?utm_source=MutualAidLA&utm_medium=email&utm_campaign=the-mutual-aid-la-dispatch-12-march) (givebutter.com/f2p)


**WHO:** [MARS Collective](https://www.instagram.com/mars.collective.la/)  
**YOU HAVE:** **<span style="background-color: tomato">TIME</span>** **<span style="background-color: palegreen">MONEY</span>**  
**YOU NEED:** **<span style="background-color: gold">ITEMS</span>** **<span style="background-color: cornflowerblue">SERVICES</span>**  
We are a collective of revolutionary minded queer folks working towards overdose prevention and harm reduction. We provide Narcan, fentanyl test strips, safe use supplies, and overdose trainings at various events. We provide education on the concept of harm reduction through a radical lens and are dedicated to taking an abolitionist, anti-racist, and anti-carceral approach to the overdose crisis. We believe that drug users need care and compassion, not cops or court systems.  
**WHEN:** We will be working events on Nov 5 and mid-November that we could use transportation to and from since most of our organizers use public transit.   
**WHERE:** LA and parts of SGV  
**$:** We’re always seeking funds for transportation; additionally we’re currently looking for funds to print out more harm reduction literature. We operate out of pocket currently so anything helps! Venmo [@hotsauceandhoney](https://account.venmo.com/u/hotsauceandhoney) with “mars collective” in the subject line or donate on [GoFundMe](https://www.gofundme.com/f/Help-comrade-facing-a-federal-charge-w-legal-fees?utm_campaign=p_cp+share-sheet&utm_medium=copy_link_all&utm_source=customer) to contribute to one of our organizers’ legal fees. 

**WHO:** [Aetna Street Solidarity](https://www.instagram.com/aetnastreetsolidarity/)  
**YOU HAVE:** **<span style="background-color: tomato">TIME</span>** **<span style="background-color: gold">ITEMS</span>**  
**YOU NEED:** **<span style="background-color: gold">ITEMS</span>** **<span style="background-color: cornflowerblue">SERVICES</span>**  
Aetna Street Solidarity is building a network of care with people living unhoused on Aetna Street. We host weekly community nights where we distribute mutual aid. We also publish a newspaper called Street Views, which features stories and original reporting on housing and homelessness from unhoused contributors living in Los Angeles.  
**COLLECTING:** Tents, tarps, blankets, sleeping bags, baby wipes, clothing (shirts, pants, sweaters, jackets), new socks and underwear, headlamps, flashlights, AA/AAA batteries and power bank chargers through September. DM us on IG to coordinate a drop-off or pick-up in the SFV.  
**WHEN:** Tuesdays after 5pm on Aetna Street  
**WHERE:** Van Nuys, SF Valley  
**$:** Donated funds help purchase supplies. Venmo [@paisthebills](http://venmo.com/paisthebills?utm_source=MutualAidLA&utm_medium=email&utm_campaign=17-august) (note “Aetna Solidarity”).

**WHO:** [Flores Pantry](https://www.instagram.com/florespantry/?igshid=NTc4MTIwNjQ2YQ%3D%3D)  
**YOU HAVE:** **<span style="background-color: palegreen">MONEY</span>**  
**YOU NEED:** **<span style="background-color: gold">ITEMS</span>** **<span style="background-color: tan">FOOD</span>**  
Free groceries distributed monthly, helping families who are experiencing food insecurity.  
**WHEN:** First Saturday of the month  
**WHERE:** Zamora Park, El Monte  
**$:** ZELLE: theflorespantry@gmail.com

**WHO:** [Power Blossoms](http://powerblossoms.org)  
**YOU HAVE:** **<span style="background-color: tomato">TIME</span>** **<span style="background-color: gold">ITEMS</span>** **<span style="background-color: palegreen">MONEY</span>**  
**YOU NEED:** **<span style="background-color: cornflowerblue">SERVICES</span>**   
[Power Blossoms](https://www.instagram.com/powerblossoms) works with LGBTQ+ people incarcerated or detained across CA. Help us process and respond to mail at our work sessions! Or help remotely w/ online data entry or by writing a birthday card on our [site](https://www.powerblossoms.org/write-a-birthday-card).   
**COLLECTING:** unused stamps, white 8.5”x11” paper, and standard business envelopes. Mail them to our PO Box at 1525 N. Alvarado St. #26961, Los Angeles, CA 90026. Or contact us (IG DM [@powerblossoms](https://www.instagram.com/powerblossoms) or email connect@powerblossoms.org) to coordinate a drop-off.     
**WHEN:** Work sessions every other Wednesday from 7–9 PM. [November meetings are 11/8 and 11/22](https://www.instagram.com/reel/Cxv3x6mPkgt/?igshid=MzRlODBiNWFlZA%3D%3D).  
**WHERE:** ProjectQ in East Hollywood  
**$:** Your contributions (Venmo: [@Powerblossoms](http://www.venmo.com/powerblossoms) | CashApp: [$powerblossoms](http://cash.app/powerblossoms)) help fund supplies, operations and may also be distributed as direct financial support for our inside participants. 

**WHO:** [For the People LA](https://docs.google.com/forms/d/e/1FAIpQLSdskUNTSnTLi9q-4sYTrQKBudWZQco1fTQcqvhBDCEoZqnfDg/viewform)   
**YOU HAVE:** **<span style="background-color: tomato">TIME</span>**   
**YOU NEED:** **<span style="background-color: gold">ITEMS</span>**  
We are a [mutual aid group](https://www.instagram.com/ftpla.forthepeoplela/) dedicated to the people to provide food, clothing, and hygiene items to those in need.
**COLLECTING:** Hygiene kits, soap  
**WHEN:** Every Friday night from 5:30-7pm   
**WHERE:** 7th and Gladys


**WHO:** [Resilient Agency](http://www.resilientagency.org)  
**YOU HAVE:** **<span style="background-color: tomato">TIME</span>**  
**YOU NEED:** **<span style="background-color: cornflowerblue">SERVICES</span>**  
We are dedicated to providing youth development and community intervention services to residents most impacted by violence, aiming to strengthen personal resilience, foster leadership, and promote community. We need volunteers for our bimonthly food distributions.  
**WHEN:** Every other Friday from 10am-1pm  
**WHERE:** South Park - 4920 S. Avalon Blvd. LA 90011

**WHO:** [KTown for All](https://www.instagram.com/ktownforall/)  
**YOU HAVE:** **<span style="background-color: gold">ITEMS</span>** **<span style="background-color: palegreen">MONEY</span>**  
**YOU NEED:** **<span style="background-color: cornflowerblue">SERVICES</span>**  
Outreach of supplies in the Koreatown neighborhood of Los Angeles. We serve 200ish-300ish people every week.   
**WHEN:** Every Saturday except the first Saturday of the month at 1:30pm  
**WHERE:** Immanuel Presbyterian in Koreatown 3300 Wilshire Blvd, Los Angeles, CA 90010  
**$:** Venmo [@Ktownforall](https://account.venmo.com/u/KtownforAll)

**WHO:** [USC Peace Garden](https://chan.usc.edu/community/usc-peace-garden)  
**YOU HAVE:** **<span style="background-color: tomato">TIME</span>** **<span style="background-color: gold">ITEMS</span>**  
**YOU NEED:** **<span style="background-color: cornflowerblue">SERVICES</span>** **<span style="background-color: tan">FOOD</span>**  
The Peace Garden project transformed a little-used plot of land owned by USC into a flourishing and invigorating garden space to serve the surrounding community, with programming that promotes and demonstrates environmental sustainability, social and environmental justice, health promotion and wellness. We host open gardening hours throughout the week where visitors can stop by and enjoy the green space, learn to garden, and take home produce.   
**COLLECTING:** [To-go containers and plastic containers for fruits and veggies](https://www.instagram.com/p/Cx3tGq7yiGy/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA%3D%3D) so that we can use them to distribute produce from our “free box” at our gate, and to community fridges across LA with the help of Mutual Aid LA’s Produce in the Park. More information [here](https://www.instagram.com/p/Cx3tGq7yiGy/?utm_source=ig_web_button_share_sheet&igshid=MzRlODBiNWFlZA==).  
**WHEN:** Drop off at your convenience.  
**WHERE:** 3017 Shrine Place


**WHO:** Lincoln Heights Unhoused Outreach  
**YOU HAVE:** **<span style="background-color: tomato">TIME</span>** **<span style="background-color: gold">ITEMS</span>** **<span style="background-color: palegreen">MONEY</span>**  
**YOU NEED:** **<span style="background-color: gold">ITEMS</span>** **<span style="background-color: tan">FOOD</span>**   
We distribute food, water, clothing and supplies (baby, pet, hygiene, warm/cool weather, harm reduction) to our unhoused neighbors in Lincoln Heights as a tight, mobile crew of 3-6 people. Text ‪323-539-7580 if you’d like to join in on outreach, if you’d like to make lunches for outreach OR to coordinate an item donation handoff.  
**COLLECTING:** Blankets, tents, tarps, pet food (opened is fine), formula (powder + liquid), new socks, bras + underwear, new or gently used sweatpants, hats and jackets/coats.  
**WHEN:** Outreach is on Sundays 12:30-3PM  
**WHERE:** Lincoln Heights (meet @ Smart and Final on 2511 Daly St)  
**$:** Funds needed for food and supplies every week ([Venmo @Will_Lennon](https://account.venmo.com/u/Will_Lennon) | CashApp $WillLennon)
