<!-- The Mutual Aid LA Dispatch #19 (November) -->
<p style="text-align: center;"><strong>November 2023</strong></p>
<br>

<h3 style="text-align:center"><strong>Haga <a href="https://dispatch.mutualaidla.org/archive/18-octubre/">clic aquí</a> para ver El Despacho de octubre en español.<br><a href="https://dispatch.mutualaidla.org/archive/18-octubre/">Click here</a> to view The October Dispatch in Spanish.</strong></h3>
<br>

## A FEW WORDS ON: **Feelings of Duality in Mutual Aid**

“What would our world look like if we all had equal access to food?”

I always find myself asking this question as I engage in food-related mutual aid work.  There are so many amazing care networks that our local community has created to help ensure each other’s survival as we all continue to see the violent impacts of capitalism and how food insecurity, as a byproduct of capitalism, has decimated communities.  But for all the joy and hope I feel every time I see a community fridge and see people volunteering to provide food for each other, I can’t help but be reminded of why we must engage in this work. It is because our basic needs are not only not being met, but the resources needed to meet them are being gatekept from us for profit.  There are financial barriers to simply having access to water; big box stores are putting every essential item behind lock and key; healthy organic foods are more expensive; the list goes on and on.
On one hand, it can feel disheartening and hopeless to live this reality and to see that the only ways we’re able to truly meet our community’s needs are to ditch the systems we’ve been told to rely on and instead find care amongst each other.  But the more I witness the beauty of community care, the more I believe that this is truly the only way we will collectively survive whatever is to come.  It is liberating to build something outside of the government, the city, and the nonprofit industrial complex in which collective wellbeing is the first priority. We are building a world/city/network where we are thinking about what we can give to each other, rather than what we can take or what will be taken from us. Seeing this in action somehow turns my hopelessness into hope.

*Written by Katie Hensley who organizes with Mutual Aid LA Network*

---

## FEATURED EFFORT: **LOPEZ URBAN FARM**

Nestled in the heart of Pomona, less than a mile from downtown, is [Lopez Urban Farm (LUF)](https://www.lopezurbanfarm.com/)—three acres of farmland featuring rotating crops of seasonal vegetables, fruit, and flowers. In partnership with our neighbors, we seek to create a sustainable and equitable future by providing one of the city’s most food insecure communities access to locally grown food, promoting education and community engagement, and creating inclusive green spaces that are accessible to all. We believe that in a capitalist economy, which puts profit over people and allows many to go hungry, together we can feed ourselves.

![](https://buttondown.imgix.net/images/d5fc05cd-8cec-4cd4-a441-f5ea395a588b.jpg?w=960&fit=max) 

At LUF, we believe in the power of community and the importance of fostering a deep connection among people, the food they eat, and the land that provides that food. Our “beyond organic” farming practices prioritize ecological sustainability, biodiversity, and regenerative land management, while our farmers strive to create a diverse and resilient agricultural system that produces high-quality organic food and also restores and enhances the natural ecosystems that support it.

Each week, [we host events and programs that bring people together to share space, knowledge, and joy together](https://www.instagram.com/p/CxrXDXWL900/). El Puestecito on Wednesdays is a pay-what-you-can, take-what you need urban night market where neighbors can pick produce, get pantry items from the on-site community bodega, eat, play, and even learn how to crochet in Khaos Craft’s Crochet Lab. On Thursdays, Evergreen Equal Access Market provides no-cost groceries and produce. And, the farm regularly hosts events like health clinics, community meals, ancestral storytelling circles, art labs, and more.

![](https://buttondown.imgix.net/images/e9811a56-45c2-415c-b72c-056dc46b8ad4.jpg?w=960&fit=max) 

We also partner with IndigeKnowledge, an effort to preserve Indigenous culture through the study of language, art, and service to our communities. IndigeKnowledge leads an all-ages seed banking/revitalization project. Last month marked the inaugural season of their Pomona-based seed sovereignty partnership with Native Seeds/SEARCH to empower farmers to use and conserve indigenous seeds.

Our work focuses on three core issues:

**FOOD SECURITY** Our urban farming initiatives grow and distribute fresh produce and—through Bodega Comunitaria—shelf-stable food and pantry items. Access to healthy food is a basic human right, and everyone should have the opportunity to eat well and nourish their bodies.

**EDUCATION** Our partnership with Pomona Unified School District teaches young people about sustainable agriculture, food systems, and environmental stewardship. Through our [free Junior Farmer Training](https://www.lopezurbanfarm.com/kids), children learn to grow their own food, improve their health and wellness, contribute to community food access, and care for themselves and their neighbors.

**GREEN SPACE** Everyone deserves access to nature. We work with the land and our neighbors to create beautiful spaces that foster a connection between ourselves and our home.

The farm, an expression of our community, constantly grows and evolves as we come together.

### How **YOU** can contribute…

- **GIVE MONEY** (VENMO: [@communityfridgepomona](https://venmo.com/communityfridgepomona); PAYPAL: [Community Partners 4 Innovation](https://www.paypal.com/donate/?hosted_button_id=WKNRRQSJ4SSP8)) to stock the bodega + keep the wheels turning.
- **DONATE THINGS** like clean, wearable clothing; shelf stable foods; hygiene + harm reduction supplies; art + craft supplies; compostables; and farming tools/supplies. Drop off Mondays-Thursdays + Saturdays 5-7pm and Sundays 10am-noon.
- **SPEND TIME** working on the farm, staffing Bodega Comunitaria, or assisting our various programs. To volunteer, email [erica@cp4ipomona.org](mailto:erica@cp4ipomona.org).
- **FOLLOW** [@lopezurbanfarm](https://www.instagram.com/lopezurbanfarm/); [@bodega_comunitaria_pomona_](https://www.instagram.com/bodega_comunitaria_pomona_/); [@indigeknowledge](https://www.instagram.com/indigeknowledge/); [@khaos_crafts](https://www.instagram.com/khaos_crafts/) on IG to help us spread awareness and feed more people

*Written by Bianca Ustrell-Friend, Director of Mutual Aid at [Lopez Urban Farm](https://www.instagram.com/lopezurbanfarm/), and founder of [Bodega Comunitaria](https://www.instagram.com/bodega_comunitaria_pomona_/) (formerly Pomona Community Fridge).*

---

## DO YOU HAVE **<span style="background-color: tomato">TIME</span>**, **<span style="background-color: gold">ITEMS\*</span>**, OR **<span style="background-color: palegreen">MONEY</span>** TO CONTRIBUTE?<br />DO YOU NEED **<span style="background-color: gold">ITEMS</span>**, **<span style="background-color: cornflowerblue">SERVICES</span>**, OR **<span style="background-color: tan">FOOD</span>?**

\*[PLEASE clean, sort & fold all items you are donating](https://drive.google.com/file/d/1K0eaOL9-gWzFX10reiZlbMsRvBWvATbJ/view). Items should be new or gently used. Socks, underwear and hygiene items should always be unused.

**WHO:** [Color of Change](https://www.cocunion.org/)  
**YOU HAVE:** **<span style="background-color: palegreen">MONEY</span>**  
**YOU NEED:** **<span style="background-color: cornflowerblue">SERVICES</span>**  
We are the official union for staff at Color Of Change. Proudly represented by the Washington-Baltimore News Guild, our commitment is to organize for a world where justice for Black people has become reality. Color Of Change is a remote workplace so union members are located across the country. Most union members are also organizers committed to abolition and mutual aid efforts outside of their work.  
**WHERE:** Remote; connect on [Twitter](https://twitter.com/COC_union), [Instagram](https://www.instagram.com/coc_union/?hl=en) or on our [Website](https://www.cocunion.org/)  
**$$$:** Support COC Union members illegally laid off [here](https://www.gofundme.com/f/support-black-women-facing-retaliation-layoffs)!

**WHO:** [Long Beach Food Not Bombs](https://www.instagram.com/lbfoodnotbombs/)  
**YOU HAVE:** **<span style="background-color: tomato">TIME</span>** **<span style="background-color: gold">ITEMS</span>** **<span style="background-color: palegreen">MONEY</span>**  
**YOU NEED:** **<span style="background-color: gold">ITEMS</span>** **<span style="background-color: tan">FOOD</span>**  
Food, clothing, and hygiene distribution every Sunday in Long Beach. Want to learn more and meet some of the folks involved in LB FNB? Join us on the first Wednesday of the month for an anarchist reading group [@long_beach_anarchist_book_club](https://www.instagram.com/long_beach_anarchist_book_club/) at Bixby Park or [Page Against the Machine Books](https://www.patmbooks.com/) (@patmbooks). If you’re part of a Long Beach (or nearby) mutual aid effort that could use bottled water, we’d love to share with you! Message @lbfoodnotbombs or [lbfnbfnb@gmail.com](mailto:lbfnbfnb@gmail.com) to arrange pickup or dropoff!  
**COLLECTING:** winter clothes, new socks/underwear, blankets, hygiene items, sunscreen, first aid supplies, TP, flashlights, batteries, snacks, fruit, storage boxes, shelter supplies (tents + tarps), and pet food. Message us to coordinate a pick-up in Long Beach or North OC or drop with us on Sunday afternoon.  
**WHEN:** Sundays between 1 and 3PM (for donation dropoff + distro)  
**WHERE:** Long Beach (message us for the exact location)  
**$$$:** Venmo: [@fnb-lb](https://account.venmo.com/u/FNB-LB). Monetary donations go toward supplies, food and water.

**WHO:** [Tuesday Produce Pick-Ups](https://docs.google.com/forms/d/e/1FAIpQLSdEWK2PcWlP8kbRD3UPf2kIV6CjCT8m9z_7e05FVcgGX3MNaw/viewform) (for LA Community Fridges)  
**YOU HAVE:** **<span style="background-color: tomato">TIME</span>** **<span style="background-color: palegreen">MONEY</span>**  
**YOU NEED:** **<span style="background-color: tan">FOOD</span>**  
Every Tuesday, we sort + distribute a large amount of produce donated from Food Forward. Volunteers can help organize/bag the produce, and/or help distribute it to community fridges! It's a fun way to meet + mingle w/ other volunteers in LA while ensuring fridges stay stocked w/ fresh + healthy food for our neighbors!  
**WHEN:** Tuesdays; between 10:30AM and 12:30PM  
**WHERE:** Sorting/pick-up spots usually within the Los Feliz/ Eaho/Elysian Park area, volunteers can drop off at any fridge of their choosing  
**$$$:** Currently fundraising to add frozen waters to produce drops to help combat LA heatwaves! Folks can Venmo [@Desirae-Embree](https://account.venmo.com/u/Desirae-Embree) to contribute to water funds.

**WHO:** [Unhoused Los Feliz](http://tinyurl.com/UnhousedinLosFeliz)  
**YOU HAVE:** **<span style="background-color: tomato">TIME</span>** **<span style="background-color: palegreen">MONEY</span>**  
**YOU NEED:** **<span style="background-color: gold">ITEMS</span>** **<span style="background-color: tan">FOOD</span>**  
We're a small mutual aid team serving the unhoused population on Riverside Drive on the border of Los Feliz and Silver Lake by providing snacks, water, hygiene, and other supplies every weekend. We need people to help out with fundraising, shopping, building kits and occasionally doing our route with us on Sundays - especially people who have access to a car!  
**WHEN:** Fundraising/shopping/building kits is ongoing and can be done anytime! Distro is on Sunday afternoons. DM [Ellie](https://www.instagram.com/ellieelisebradley/) or [Kat](https://www.instagram.com/katbrad/) on IG for volunteer info.  
**WHERE:** Los Feliz  
**$$$:** Venmo [@EliseJBradley](https://venmo.com/elisejbradley) or purchase items from [our wishlist](http://tinyurl.com/UnhousedinLosFeliz). All donations go directly to the unhoused community in Los Feliz.

**WHO:** [Hope Street Distro](https://www.instagram.com/hopestdistro/)  
**YOU HAVE:** **<span style="background-color: tomato">TIME</span>** **<span style="background-color: gold">ITEMS</span>** **<span style="background-color: palegreen">MONEY</span>**  
**YOU NEED:** **<span style="background-color: gold">ITEMS</span>** **<span style="background-color: tan">FOOD</span>**  
Our small team distributes meals, water & supplies (hygiene products, OTC meds, harm reduction, pet needs) to ~100 unhoused neighbors who lately, have been getting swept 1-2 times each week. Your support is needed. Have access to a car? DM [@hopestdistro](https://www.instagram.com/hopestdistro) to sign-up and join us for a distribution.  
**COLLECTING:** Tents, blankets + sleeping bags (new or gently used)  
**WHEN:** Most Sundays from 12-3pm  
**WHERE:** South Central - route covers several blocks between S Hope to S Main  
**$$$:** Cash donations are preferred (Venmo [@melissa-moultonchurch](https://account.venmo.com/u/melissa-moultonchurch) w/ comment “hope ❤️”) and help us buy tents (Walmart’s are cheapest) OR shop our [Amazon list](http://tiny.cc/hopelist).

**WHO:** [Jail Support LA](https://www.instagram.com/jailsupportla/?hl=en)  
**YOU HAVE:** **<span style="background-color: tomato">TIME</span>** **<span style="background-color: gold">ITEMS</span>** **<span style="background-color: palegreen">MONEY</span>**  
**YOU NEED:** **<span style="background-color: cornflowerblue">SERVICES</span>**  
[Jail Support LA](https://linktr.ee/jslosangeles) (@JailSupportLA) is dedicated to supporting anti-repression work by providing emergency bail for protestors and all around taking care of [people experiencing arrest](https://www.instagram.com/p/CH1eiuOAzu2/). JSLA serves as an info hub for those affected by arrests around a direct action, and also mobilizes supporters to call and confirm details of arrestees like the holding location, bail + demand their release. Caught a charge yourself? Or want to get further involved? Text or call the jail support line: 424-388-1230.  
**WHEN:** TBD, shifts vary  
**WHERE:** LA County, remote & in-person  
**$$$:** Donations go toward paying emergency bail. Venmo/Cashapp @jailsupportLA

**WHO:** [Palms Unhoused Mutual Aid (PUMA)](https://www.instagram.com/palmsunhousedmutualaid/)  
**YOU HAVE:** **<span style="background-color: tomato">TIME</span>** **<span style="background-color: gold">ITEMS</span>** **<span style="background-color: palegreen">MONEY</span>**  
**YOU NEED:** **<span style="background-color: gold">ITEMS</span>** **<span style="background-color: cornflowerblue">SERVICES</span>** **<span style="background-color: tan">FOOD</span>**  
We are an abolitionist network of care supporting unhoused people across Mid City, Palms and West LA, specifically involved in harm reduction efforts, sweep defense, court support, outreach and political edu. Right now we are trying to expand our Monday harm reduction team.  
**COLLECTING:** New or gently used blankets/sleeping bags. DM us or email [palmsunhousedmutualaid@gmail.com](mailto:palmsunhousedmutualaid@gmail.com) to coordinate a handoff or to sign up for outreach.  
**WHEN:** Mondays (harm reduction), Wednesdays, 4PM (outreach)    
**WHERE:** Palms, underneath the bridge at the 405 freeway  
**$$$:** Donate on [opencollective.com/palms-unhoused-mutual-aid](https://opencollective.com/palms-unhoused-mutual-aid). Funds help us purchase basic supplies such as hygiene items, tents, tarps and clothing.

**WHO:** [Greater Long Beach Mutual Aid Network (GLBMAN)](https://www.instagram.com/glb_mutual_aid/)  
**YOU HAVE:** **<span style="background-color: tomato">TIME</span>** **<span style="background-color: gold">ITEMS</span>** **<span style="background-color: palegreen">MONEY</span>**  
**YOU NEED:** **<span style="background-color: gold">ITEMS</span>** **<span style="background-color: cornflowerblue">SERVICES</span>**  
GLBMAN is an alliance of anti-capitalist organizations in the Greater Long Beach area providing mutual aid for and promoting solidarity within our community. We’re currently in need of drivers to deliver food packages on Thursdays. You can sign up to volunteer [here](https://docs.google.com/forms/d/e/1FAIpQLSe2q-WOxg19PZFYh52hvMuWm2kLOY_DuMEwhWXOwFYZnDoUuw/viewform)!  
**COLLECTING:** Diapers and baby wipes for a district-wide donation drive. Text (562) 646-6605 or email [glbmutualaid@gmail.com](mailto:glbmutualaid@gmail.com) to coordinate a pick-up or drop-off.  
 **WHEN:** Thursday afternoons (Driving vols). Pick-up anytime btwn 3:30 and 6PM  
**WHERE:** Long Beach Forward  
**$$$:** Shop our [Amazon Wish List](https://www.amazon.com/hz/wishlist/ls/1CQ6LUGFVWXQ) to support the baby drive + food deliveries.

**WHO:** [Aetna Street Solidarity](https://www.instagram.com/aetnastreetsolidarity/)  
**YOU HAVE:** **<span style="background-color: tomato">TIME</span>** **<span style="background-color: gold">ITEMS</span>**  
**YOU NEED:** **<span style="background-color: gold">ITEMS</span>** **<span style="background-color: cornflowerblue">SERVICES</span>**  
Aetna Street Solidarity is building a network of care with people living unhoused on Aetna Street. We host weekly community nights where we distribute mutual aid. We also publish Street Views, a newspaper featuring stories and original reporting on housing and homelessness from unhoused contributors living in LA.  
**COLLECTING:** Tents, tarps, blankets, sleeping bags, baby wipes, clothing (shirts, pants, sweaters, jackets), new socks and underwear, headlamps, flashlights, AA/AAA batteries and power bank chargers through September. DM us on IG to coordinate a drop-off or pick-up in the SFV.  
**WHEN:** Tuesdays after 5pm on Aetna Street  
**WHERE:** Van Nuys, SF Valley  
**$$$:** Donated funds help purchase supplies. Venmo [@paisthebills](http://venmo.com/paisthebills) (note “Aetna Solidarity”).  

## **HAPPY HALLOWEEN!**
