<!-- The Mutual Aid LA Dispatch #16 (July) -->


<p style="text-align: center;"><strong>JULY 2023</strong></p>


<p><br></p>

<h3 style="text-align:center"><strong>Haga <a href="https://dispatch.mutualaidla.org/archive/16-julio/">clic aquí</a> para ver El Despacho de julio en español.<br><a href="https://dispatch.mutualaidla.org/archive/16-julio/">Click here</a> to view The July Dispatch in Spanish.</strong></h3>


<p><br></p>

<h2 id="a-few-words-on:-the-radical-act-of-taking-a-break">A FEW WORDS ON: <strong>THE RADICAL ACT OF TAKING A BREAK</strong></h2>

<p>Our capitalist hellscape teaches us that our physical and emotional needs are secondary to propping up the system. “Taking a break” is a radical act—as is reframing how we think about it.</p>

<p><a href="https://www.instagram.com/p/CtRHExEuu1O/"><img src="https://buttondown.imgix.net/images/790dc743-9455-489d-b368-47d62e582872.jpg?w=960&amp;fit=max" alt="" /></a></p>

<p>Instead of, “Recharge now, then do more later,” <a href="https://www.instagram.com/p/CtRHExEuu1O/">The Nap Ministry wisely encourages us</a> to rest simply because it’s our right.</p>

<p>Taking time to tend to ourselves will help us get clarity in our roles and find a more tenable way to share resources—which ultimately benefits us all.</p>

<p><em>Written by Lauren who organizes with Mutual Aid LA Network</em></p>

<hr />

<h2 id="featured-effort:-farm2power">FEATURED EFFORT: <strong>FARM2POWER</strong></h2>

<p><a href="https://www.farm2power.org/"><img src="https://buttondown.imgix.net/images/da31a457-f89a-4082-a9f3-78c033faea74.jpg?w=960&amp;fit=max" alt="" /></a></p>

<p>During the pandemic, as many Angelenos struggled to meet basic needs and local farmers struggled as sales dwindled, Amari Gaiter and Elliott Snow saw the opportunity to create an equitable food system that would connect farmers directly to people in need of food. They recruited colleagues Zoya Abbas and Sarah Bacio, and <a href="https://www.farm2power.org/">Farm2Power</a> - a Los Angeles-based mutual aid collective aiming to uplift BIPOC farmers and provide fresh food to those facing food insecurity - was born.</p>

<h3 id="how-you-can-contribute…">How <strong>YOU</strong> can contribute…</h3>

<ul>
<li><strong>DONATE MONEY</strong> (via <a href="https://www.farm2power.org/donate-1">Venmo or GiveButter</a> for recurring donations) to ensure that Farm2Power can continue purchasing produce from local BIPOC-run farms</li>
<li><strong>SIGN UP</strong> (in multiple languages!) to receive <a href="https://www.farm2power.org/apply-for-csa-boxes">a produce box</a></li>
<li><strong>VOLUNTEER</strong> to help on pantry days (deliver produce boxes) by filling out <a href="http://www.tinyurl.com/volunteerf2p">this form</a> and/or <strong>ORGANIZE</strong> as a part of the Farm2Power team (<a href="http://www.tinyurl.com/joinf2p">here</a>), to keep things running and growing.</li>
<li><strong><a href="https://www.instagram.com/Farm2Power/">FOLLOW</a></strong> Farm2Power on IG to catch their events, workshops and more!</li>
<li><strong>ATTEND</strong> The <a href="https://www.instagram.com/p/Ct2iwXLgkGs/">Root for Farm2Power Music and Comedy Show</a> on July 21 at Junior High Los Angeles, 603 S. Brand Blvd, Glendale CA 91204. <a href="https://juniorhighlosangeles.com/calendar/root-for-farm2power-2023">Get tickets</a>.</li>
<li><strong>REACH OUT</strong> and <strong>ASK Q’s</strong> by emailing <a href="mailto:farm2power@gmail.com">farm2power@gmail.com</a> or texting (213) 878-5060</li>
</ul>


<p><em>Written by Terence who volunteers with Mutual Aid LA Network</em></p>

<hr />

<h2 id="do-you-have-time,-items*,-or-money-to-contribute?do-you-need-items,-services,-or-food?">DO YOU HAVE <strong><span style="background-color: tomato">TIME</span></strong>, <strong><span style="background-color: gold">ITEMS*</span></strong>, OR <strong><span style="background-color: palegreen">MONEY</span></strong> TO CONTRIBUTE?<br />DO YOU NEED <strong><span style="background-color: gold">ITEMS</span></strong>, <strong><span style="background-color: cornflowerblue">SERVICES</span></strong>, OR <strong><span style="background-color: tan">FOOD</span>?</strong></h2>

<p>*<a href="https://drive.google.com/file/d/1K0eaOL9-gWzFX10reiZlbMsRvBWvATbJ/view">PLEASE clean, sort &amp; fold all items you are donating</a>. Items should be new or gently used. Socks, underwear and hygiene items should always be unused. <a href="https://drive.google.com/file/d/1CgPd-qczmP3EgubBiLhIXQXsi5O7iZxG/view">Download our printer-friendly Donation Guide</a></p>

<p><strong>WHO:</strong> <a href="https://www.mutualaidla.org/open-art-supply-project">Open Art Supply</a><br/>
<strong>YOU HAVE:</strong> <strong><span style="background-color: tomato">TIME</span></strong> <strong><span style="background-color: gold">ITEMS</span></strong> <strong><span style="background-color: palegreen">MONEY</span></strong><br/>
<strong>YOU NEED:</strong> <strong><span style="background-color: gold">ITEMS</span></strong><br/>
MALAN’s <a href="https://www.instagram.com/p/Cso04lkP8vi/">Open Art Supply</a> project is collecting new and gently used arts &amp; crafts supplies and distributing them to members of our community who may not have access otherwise. We&rsquo;re getting together at <a href="https://www.google.com/maps/place/3900+Chevy+Chase+Dr,+Los+Angeles,+CA+90039/@34.135322,-118.2730584,17z/data=!3m1!4b1!4m6!3m5!1s0x80c2c0f3a83d656d:0x7f9013d3784f200e!8m2!3d34.135322!4d-118.2730584!">North Atwater Park</a> to put donated markers, sketchbooks, pencils, and other supplies into kits. All are welcome to build the kits and shop at our FREE Store area. <a href="https://forms.gle/EsAwfbJZTn6LVdaE7">RSVP here</a>. You can also help by collecting art supplies from your friends, neighbors, and colleagues and dropping them off at one of the <a href="https://felt.com/map/Open-Art-Supply-W9AjUP0RKTbuW9AXRGQMrOWA">creative collaborator spaces</a>.<br/>
<strong>WHEN:</strong> Art Kit Build: Saturday, July 22 at 11am<br/>
<strong>WHERE:</strong> North Atwater Park, <a href="https://www.google.com/maps/place/3900+Chevy+Chase+Dr,+Los+Angeles,+CA+90039/@34.135322,-118.2730584,17z/data=!3m1!4b1!4m6!3m5!1s0x80c2c0f3a83d656d:0x7f9013d3784f200e!8m2!3d34.135322!4d-118.2730584!">3900 Chevy Chase Dr</a><br/>
<strong>$$$:</strong> To help us purchase harder-to-get items, send a Venmo to <a href="https://account.venmo.com/u/fortheunderdog">@fortheunderdog</a> with a crayon 🖍️ emoji as your message.</p>

<p><strong>WHO:</strong> <a href="https://example.org">Example Name</a><br/>
<strong>YOU HAVE:</strong> <strong><span style="background-color: tomato">TIME</span></strong> <strong><span style="background-color: gold">ITEMS</span></strong> <strong><span style="background-color: palegreen">MONEY</span></strong><br/>
<strong>YOU NEED:</strong> <strong><span style="background-color: gold">ITEMS</span></strong> <strong><span style="background-color: cornflowerblue">SERVICES</span></strong> <strong><span style="background-color: tan">FOOD</span></strong><br/>
Description<br/>
<strong>WHEN:</strong> time<br/>
<strong>WHERE:</strong> location<br/>
<strong>$$$:</strong> links</p>